In [17]:
import pandas as pd
import numpy as np
from ETL.Data_extraction import *
from ETL.Data_transformation import *

In [3]:
upgrade_data(fold='./RAW_DATAS')

Arquivo 2024 desatualizado, refazendo download.

In [5]:
pd.read_parquet('./DATASETS/summarized_data.parquet').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163296 entries, 0 to 163295
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ESFERA         163296 non-null  category
 1   UF             163296 non-null  category
 2   COMPETÊNCIA    163296 non-null  datetime64[us]
 3   REPASSE        163296 non-null  category
 4   TOTAL AJUSTE   163296 non-null  float64
 5   TOTAL LIQUIDO  163296 non-null  float64
 6   CATEGORIA      163296 non-null  category
dtypes: category(4), datetime64[us](1), float64(2)
memory usage: 4.4 MB

In [28]:
df = pd.read_parquet('./DATASETS/summarized_data.parquet')
df.index = df['COMPETÊNCIA']
df.drop(labels='COMPETÊNCIA', axis='columns', inplace=True)
df_e = df[(df.ESFERA == 'Estadual')]
df.head()

TIPO DE REPASSE,ESFERA,UF,REPASSE,TOTAL AJUSTE,TOTAL LIQUIDO,CATEGORIA
COMPETÊNCIA,,,,,,
2007-01-01,Estadual,AC,AFE_EC123,0.0,0.0,Outros
2007-01-01,Estadual,AC,Ajuste,0.0,0.0,Outros
2007-01-01,Estadual,AC,COUN,0.0,0.0,Outros
2007-01-01,Estadual,AC,COUN_VAAF,0.0,0.0,Complementação VAAF
2007-01-01,Estadual,AC,COUN_VAAR,0.0,0.0,Complementação VAAR

In [29]:
# Dados agrupados mensalmente
df_month = df.resample('MS').sum(numeric_only=True)
df_month.loc[df_month['TOTAL LIQUIDO'] == 0, 'TOTAL LIQUIDO'] = np.nan
df_month['TOTAL ACUMULADO'] = df_month['TOTAL LIQUIDO'].cumsum()
df_month['dif'] = df_month['TOTAL LIQUIDO'].diff(1)
df_month.head()

TIPO DE REPASSE  TOTAL AJUSTE  TOTAL LIQUIDO  TOTAL ACUMULADO           dif
COMPETÊNCIA
2007-01-01                0.0   3.294853e+09     3.294853e+09           NaN
2007-02-01                0.0   3.031552e+09     6.326405e+09 -2.633010e+08
2007-03-01                0.0   3.443951e+09     9.770356e+09  4.123993e+08
2007-04-01                0.0   4.575964e+09     1.434632e+10  1.132013e+09
2007-05-01                0.0   4.116513e+09     1.846283e+10 -4.594508e+08

In [31]:
# Dados agrupados anualmente
df_year = df.resample('Y').sum(numeric_only=True)
df_year.loc[df_year['TOTAL LIQUIDO'] == 0, 'TOTAL LIQUIDO'] = np.nan
df_year

C:\Users\adria\AppData\Local\Temp\ipykernel_16768\596297807.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  df_year = df.resample('Y').sum(numeric_only=True)

TIPO DE REPASSE  TOTAL AJUSTE  TOTAL LIQUIDO
COMPETÊNCIA
2007-12-31       0.000000e+00   4.692355e+10
2008-12-31       0.000000e+00   6.371102e+10
2009-12-31       0.000000e+00   7.293272e+10
2010-12-31       0.000000e+00   8.361585e+10
2011-12-31       0.000000e+00   9.854037e+10
2012-12-31       0.000000e+00   1.066182e+11
2013-12-31       0.000000e+00   1.166615e+11
2014-12-31       0.000000e+00   1.261891e+11
2015-12-31       0.000000e+00   1.342957e+11
2016-12-31       0.000000e+00   1.423201e+11
2017-12-31       0.000000e+00   1.453263e+11
2018-12-31       0.000000e+00   1.525953e+11
2019-12-31       0.000000e+00   1.685396e+11
2020-12-31       1.215713e+08   1.704963e+11
2021-12-31       2.783293e+09   2.216215e+11
2022-12-31       2.974962e+09   2.571352e+11
2023-12-31       1.517420e+09   2.691570e+11
2024-12-31       3.721776e+09   3.420572e+10