In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from PROJECT_LIBRARY.Data_extraction import *
from PROJECT_LIBRARY.Data_transformation import *
from PROJECT_LIBRARY.Project_functions import *

2024-04-11 08:44:01.009 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2024-04-11 08:44:01.012 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2024-04-11 08:44:01.013 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2024-04-11 08:44:01.014 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [2]:
df = pd.read_parquet('dataset.parquet')
df.head()

,COMPETÊNCIA,UF,AJUSTES,ESFERA,EC123,COUN,VAAF,VAAR,VAAT,FPE,FPM,ICMS,IPI,IPVA,ITCMD,ITR,LC8796,Ajuste
0,2007-01-01,AC,False,ESTADUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,2007-01-01,AC,False,ESTADUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,2007-01-01,AC,False,ESTADUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,2007-01-01,AC,False,ESTADUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,2007-01-01,AC,False,ESTADUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3548.46,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239112 entries, 0 to 239111
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   COMPETÊNCIA  239112 non-null  datetime64[us]
 1   UF           239112 non-null  object
 2   AJUSTES      239112 non-null  bool
 3   ESFERA       239112 non-null  object
 4   EC123        23328 non-null   float64
 5   COUN         23328 non-null   float64
 6   VAAF         23328 non-null   float64
 7   VAAR         23328 non-null   float64
 8   VAAT         23328 non-null   float64
 9   FPE          23328 non-null   float64
 10  FPM          23328 non-null   float64
 11  ICMS         23328 non-null   float64
 12  IPI          23328 non-null   float64
 13  IPVA         23328 non-null   float64
 14  ITCMD        23328 non-null   float64
 15  ITR          23328 non-null   float64
 16  LC8796       23328 non-null   float64
 17  Ajuste       11664 non-null   float64
dtypes: bool(1), datetime64[us](1), float64(14), object(2)
memory usage: 31.2+ MB

In [4]:
df.fillna(0, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239112 entries, 0 to 239111
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   COMPETÊNCIA  239112 non-null  datetime64[us]
 1   UF           239112 non-null  object
 2   AJUSTES      239112 non-null  bool
 3   ESFERA       239112 non-null  object
 4   EC123        239112 non-null  float64
 5   COUN         239112 non-null  float64
 6   VAAF         239112 non-null  float64
 7   VAAR         239112 non-null  float64
 8   VAAT         239112 non-null  float64
 9   FPE          239112 non-null  float64
 10  FPM          239112 non-null  float64
 11  ICMS         239112 non-null  float64
 12  IPI          239112 non-null  float64
 13  IPVA         239112 non-null  float64
 14  ITCMD        239112 non-null  float64
 15  ITR          239112 non-null  float64
 16  LC8796       239112 non-null  float64
 17  Ajuste       239112 non-null  float64
dtypes: bool(1), datetime64[us](1), float64(14), object(2)
memory usage: 31.2+ MB

In [7]:
x = df.loc[(df['COMPETÊNCIA']>='2023-01-01') & (df['COMPETÊNCIA']<'2024-01-01') & (df.ESFERA=='ESTADUAL') & (df.AJUSTES==False) & (df.UF=='AP')]
x.head(1)

In [18]:
x['TOTAL'] = x.sum(axis='columns', numeric_only=True)
x.head(1)

C:\Users\adria\AppData\Local\Temp\ipykernel_12376\192249167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['TOTAL'] = x.sum(axis='columns', numeric_only=True)

,COMPETÊNCIA,UF,AJUSTES,ESFERA,EC123,COUN,VAAF,VAAR,VAAT,FPE,FPM,ICMS,IPI,IPVA,ITCMD,ITR,LC8796,Ajuste,TOTAL
212667,2023-01-01,AP,False,ESTADUAL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
x.TOTAL.sum()

968996614.9000002