In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from PROJECT_LIBRARY.Data_extraction import *
from PROJECT_LIBRARY.Data_transformation import *
from PROJECT_LIBRARY.Project_functions import *

pd.options.display.float_format = lambda x: f'{x:,.2f}'

In [67]:
df = pd.read_parquet('./DATASETS/finally_data.parquet')
df.head()

,COMPETÊNCIA,UF,AJUSTES,ESFERA,EC123,COUN,VAAF,VAAR,VAAT,FPE,FPM,ICMS,IPI,IPVA,ITCMD,ITR,LC8796,Ajuste,TOTAL
0,2007-01-01,AC,False,ESTADUAL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,2007-01-01,AC,False,ESTADUAL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"3,548.46",0.00,0.00,0.00,0.00,0.00,"3,548.46"
5,2007-01-01,AC,False,ESTADUAL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"3,147,424.17",0.00,0.00,0.00,0.00,0.00,0.00,"3,147,424.17"
6,2007-01-01,AC,False,ESTADUAL,0.00,0.00,0.00,0.00,0.00,0.00,"1,582,026.94",0.00,0.00,0.00,0.00,0.00,0.00,0.00,"1,582,026.94"
7,2007-01-01,AC,False,ESTADUAL,0.00,0.00,0.00,0.00,0.00,"9,679,990.36",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"9,679,990.36"

In [68]:
x = df.groupby(['COMPETÊNCIA', 'ESFERA', 'UF', 'AJUSTES']).sum(min_count=2).reset_index().fillna(0)
x.head()

,COMPETÊNCIA,ESFERA,UF,AJUSTES,EC123,COUN,VAAF,VAAR,VAAT,FPE,FPM,ICMS,IPI,IPVA,ITCMD,ITR,LC8796,Ajuste,TOTAL
0,2007-01-01,ESTADUAL,AC,False,0.00,0.00,0.00,0.00,0.00,"9,679,990.36","1,582,026.94","3,147,424.17","3,548.46",0.00,0.00,0.00,0.00,0.00,"14,412,989.93"
1,2007-01-01,ESTADUAL,AC,True,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,2007-01-01,ESTADUAL,AL,False,0.00,0.00,0.00,0.00,0.00,"4,649,019.37","2,800,656.42","2,781,356.76","25,488.94",0.00,0.00,0.00,0.00,0.00,"10,256,521.49"
3,2007-01-01,ESTADUAL,AL,True,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,2007-01-01,ESTADUAL,AM,False,0.00,0.00,0.00,0.00,0.00,"5,436,974.54","2,819,795.95","19,285,518.14","401,249.83",0.00,0.00,0.00,0.00,0.00,"27,943,538.46"

# TESTE

In [61]:
x = x.loc[(x['COMPETÊNCIA']>='2023-01-01') & (x['COMPETÊNCIA']<'2024-01-01') & (x.ESFERA=='ESTADUAL') & (x.AJUSTES==False) & (x.UF=='AP')]
x.head()

,COMPETÊNCIA,ESFERA,UF,AJUSTES,EC123,COUN,VAAF,VAAR,VAAT,FPE,FPM,ICMS,IPI,IPVA,ITCMD,ITR,LC8796,Ajuste,TOTAL
20742,2023-01-01,ESTADUAL,AP,False,0.00,0.00,0.00,"345,207.19",0.00,"59,580,994.71","7,213,674.32","15,679,804.13","62,216.31","1,184,772.19","21,736.69","1,291.14",0.00,0.00,"84,089,696.68"
20850,2023-02-01,ESTADUAL,AP,False,0.00,0.00,0.00,"379,727.91",0.00,"82,915,496.28","9,512,904.73","12,734,268.20","44,367.68","1,085,153.03","25,654.12",463.08,0.00,0.00,"106,698,035.03"
20958,2023-03-01,ESTADUAL,AP,False,0.00,0.00,0.00,"414,248.63",0.00,"49,774,569.70","5,819,480.04","11,681,232.06","54,985.44","4,250,510.47","43,949.98",620.71,0.00,0.00,"72,039,597.03"
21066,2023-04-01,ESTADUAL,AP,False,0.00,0.00,0.00,"448,769.35",0.00,"57,333,608.21","6,653,481.89","11,988,795.56","58,618.45","1,329,847.56","11,038.19",690.17,0.00,0.00,"77,824,849.38"
21174,2023-05-01,ESTADUAL,AP,False,0.00,0.00,0.00,"485,555.52",0.00,"62,984,352.88","7,396,413.40","12,001,464.55","52,713.14","1,041,511.84","36,958.47",296.74,0.00,0.00,"83,999,266.54"

In [63]:
x.TOTAL.sum() # 968996614.90

968996614.9000001